<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <link href={ % styles 'style.css' %} rel="stylesheet">
</head>
<body>
    <h1>Contacts us @</h1>
    {% include 'navBar.html' %}
    <table>
        <tr>
            <th>
                LinkedIN
            </th>
            <th>
               <a>linkedin.com/abc</a>
            </th>
        </tr>
        <tr>
            <th> 
                Facebook
            </th>
            <th>
                fb.com/abc
            </th>
        </tr>
        <tr>
            <th>
                Insta
            </th>
            <th>
                insta.com/abc
            </th>
        </tr>
        <tr>
            <th>
                Phone
            </th>
            <th>
                +91 xxxxxxxxxx
            </th>
        </tr>
        
    </table>
</body>
</html>