<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link href={ % styles 'style.css' %} rel="stylesheet">
</head>
<body>
    <h1>Services we Provide</h1>
    {% include 'navBar.html' %}
    <ul>
        <li >Education for students below 8th</li>
        <li>Education for students below 10th</li>
        <li>Education for students below +2</li>
    </ul>
    
</body>
</html>